section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  padding: 0;
}

h1 {
  font-size: 32px;
  letter-spacing: 1px;
  margin: 20px 0;
  color: #e6ebac;
}

.form-cadastro {
  margin: 20px 0;
  background: linear-gradient(to right, #bdd5e6, #ecacd1, #e6ebac);
  padding: 30px 25px;
  border-radius: 15px;
  justify-content: center;
  margin: 0;
}

.form-cadastro .input-block {
  margin: 20px auto;
  padding: 0;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.form-cadastro .input-block label {
  font-size: 14px;
  color: #33383f;
  margin: 0;
  padding: 0;
  width: 100%;
}

.form-cadastro .input-block input {
  width: 100%;
  display: block;
  margin-top: 8px;
  padding: 7px;
  font-size: 16px;
  color: #7159c1;
  border-radius: 10px;
  border: 2px solid #ae48e9;
  outline-color: #ae48e9;
  border-radius: 10px;
}
.btn-cadas {
  margin: 5px auto;
}

.form-cadastro .btn-cadas {
  display: block;
  min-width: 120px;
  border: none;
  background-color: #ae48e9;
  color: white;
  border-radius: 30px;
  margin: auto;
  padding: 7px;
}
.form-cadastro .btn-cadas:hover {
  padding: 8px 20px;
  background: #dbd4df;
  border-radius: 15px;
  text-decoration: none;
  color: #ae48e9;
}
.logo-log img {
  max-height: 90px;
}
.form-cadastro {
  animation-name: fade;
  animation-duration: 600ms;
}

@keyframes fade {
  from {
    opacity: 0;
    transform: scale(0.9);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}
